.logo {
    display: flex;
    justify-content: center;
}

.mh-logo {
    display: block;
    float: left;
    background-image: url(https://s3-eu-west-1.amazonaws.com/jssolutions/Article_Photo/home-page/apiko-logos/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 118px;
    height: 48px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.wrapper {
    max-width: 800px;
}

.scroll-top-icon{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .4;
}
