.App {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  display: flex;
  justify-content: center;
  padding: 1rem 4rem;
  box-shadow: 0px 1px 8px 0px #ada3a3;
  margin-bottom: 1.5rem;
}

.App-mh-logo {
  display: block;
  float: left;
  background-image: url(https://s3-eu-west-1.amazonaws.com/jssolutions/Article_Photo/home-page/apiko-logos/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 118px;
  height: 48px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.App-logo :focus{
  outline: none;
}

.App-wrapper {
  max-width: 1000px;
  display: flex;
  align-self: center;
}
